terraform/ecs
terraform/eks/.terraform
terraform/eks/aws
terraform/eks/.terraform.lock.hcl
terraform/eks/aws.zip
terraform/eks/terraform.tfstate
terraform/eks/terraform.tfstate.backup
terraform/microservice/.terraform
terraform/microservice/.terraform.lock.hcl
terraform/microservice/terraform.tfstate
terraform/microservice/terraform.tfstate.backup
terraform/ecr/.terraform
terraform/ecr/.terraform.lock.hcl
terraform/ecr/terraform.tfstate
terraform/ecr/terraform.tfstate.backup 
terraform/microservice/template.plan
terraform/microservice/template.json
terraform/eks/template.json
terraform/eks/template.plan
terraform/ecr/template.json
terraform/ecr/template.plan
terraform/base/terraform.tfstate.backup
terraform/base/terraform.tfstate
terraform/base/template.plan
terraform/base/template.json
terraform/base/.terraform.lock.hcl
terraform/base/.terraform
.vscode
AWSCLIV2.pkg